.series {
    padding-bottom: var(--footer-height);

    .top {
        padding: 50px 0 35px 0;

        form {
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;

            @media (--t) {
                flex-direction: row;
            }

            .search {

            }

            .select {
                margin-top: 20px;

                @media (--t) {
                    margin-top: 0;
                    margin-left: auto;
                }
            }
        }
    }

    .loading {
        display: flex;
    }
}