.breadcrumb {
    display: flex;
    align-items: center;
    min-height: 56px;
    background-color: #414141;
    box-shadow: 0 0 20px #000;
    font-weight: 500;

    &_inner {
        flex: 1;

        @media (--t) {
            padding: 0;
        }

        a {
            font-size: 1.4rem;
            color: #fff;
        }
    }
}