.box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    grid-gap: 15px;
    grid-row-gap: 30px;
    cursor: pointer;

    .image {
        width: 100%;
    }

    .title {
        padding: 15px 5px;
        text-align: center;

        &:hover {
            font-weight: 600;
        }
    }
}